############################################
# RStudio
############################################
.Rproj.user/
.Rhistory
.RData
.Ruserdata

############################################
# OS / editor junk
############################################
.DS_Store
Thumbs.db

############################################
# Datos TFM
############################################

# Por defecto se ignoran todos los CSV de data_files
inst/data_files/*.csv

# ----------------------------
# Permitidos (anonimizados y agregados)
# ----------------------------

# Matrices
!inst/data_files/Dso*.csv
!inst/data_files/solap*.csv
!inst/data_files/Ddif*.csv
!inst/data_files/Dpop*.csv
!inst/data_files/Dabs_INFORMATICA.csv

# Fichero intermedio de pares de asignaturas
!inst/data_files/pairs*.csv

############################################
# Resultados procesos ETL y simulaciones
############################################
!inst/reports/
!inst/reports/**